/.pass
/config.sh

/target/boot/
/target/etc/alternatives/
/target/etc/fonts/
/target/usr/
/target/var/

/presets/ghost/target/root/wg/*/env
/presets/ghost/target/root/wg/*/local.config

/storage/*.img
/storage/build/busybox/
/storage/build/initramfs/
/storage/build/initramfs.cpio.gz
/storage/build/linux/
/storage/temp/
