/.pass
/config.sh

/target/boot/
/target/debootstrap/
/target/etc/alternatives/
/target/etc/fonts/
/target/usr/
/target/var/

/storage/*.img
/storage/build/busybox/
/storage/build/initramfs/
/storage/build/initramfs.cpio.gz
/storage/build/linux/
/storage/temp/
