name: "Run tests"
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  paths-ignore:
    - '**.md'
    - 'distro_extractor/**'
    - 'presets/dev/**'
    - 'presets/ghost/**'
    - 'presets/leti/**'
    - 'presets/minimal/**'

jobs:
  make_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Install dependencies"
        timeout-minutes: 1
        run: |
          sudo apt-get update && sudo apt-get install -y \
            git make gcc rsync bison flex cpio bc libelf-dev gawk fdisk wget lbzip2 \
            xz-utils dosfstools libssl-dev libncurses-dev qemu-system-x86

      - name: "Run make test"
        timeout-minutes: 7
        run: |
          echo 'export MAKE_NUM_OF_THREADS=$(($(nproc) + 1))' > config.sh
          make test
